colorama==0.4.6 ; python_version >= "3.13" and python_version < "4.0" and sys_platform == "win32"
iniconfig==2.0.0 ; python_version >= "3.13" and python_version < "4.0"
numpy==2.2.3 ; python_version >= "3.13" and python_version < "4.0"
packaging==24.2 ; python_version >= "3.13" and python_version < "4.0"
polars==1.24.0 ; python_version >= "3.13" and python_version < "4.0"
pluggy==1.5.0 ; python_version >= "3.13" and python_version < "4.0"
pytest==8.3.5 ; python_version >= "3.13" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.13" and python_version < "4.0"
pytz==2025.1 ; python_version >= "3.13" and python_version < "4.0"
six==1.17.0 ; python_version >= "3.13" and python_version < "4.0"
tzdata==2025.1 ; python_version >= "3.13" and python_version < "4.0"
